body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  main {
    padding: 20px;
    text-align: center;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  .main-header{
    height:200px;
    background-image: url("images/self_picture.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
}